
  
  div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #right-hand-up, 
  #left-hand-up {
    opacity: 0;
  }

  h3{
    color: grey;
    font-size: 1.5vw;
    display: block;
    text-align: center;
    margin-top: 1.5em;
  }